/* .button {
  background-color: #fff;
  color: #00525f;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  width: 90px;
  height: 40px;
  margin-right: 2rem;
  margin-top: 0.5rem;
}

.button:hover,
.button:active {
  background-color: #fff;
} */
