.header {
  /* padding: 10;
    margin: 3rem auto; */
  background-color: #00525f;
  width: 100%;
  margin: auto;
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}